{{ payment }}
<table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style='width:0;'></td>

            <td style='width:50px;'></td>

            <td style='width:105px;'></td>

            <td style='width:36px;'></td>

            <td style='width:43px;'></td>

            <td style='width:33px;'></td>

            <td style='width:64px;'></td>

            <td style='width:29px;'></td>

            <td style='width:128px;'></td>

            <td style='width:81px;'></td>

            <td style='width:38px;'></td>

            <td style='width:119px;'></td>

            <td style='width:41px;'></td>
        </tr>

        <tr>
            <td>
                <p style='height:45px;'> </p>
            </td>

            <td colspan="12" style='text-align:center;'><b>ОАО «Могилевский завод «Электродвигатель»</b></td>

        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td><b>ВЦ</b></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td><b>Директору</b></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:21px;'></p>
            </td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td><b>С.А.Титову</b></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="11"><b>Служебная записка</b></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td class='s3'></td>

            <td></td>

            <td></td>

            <td></td>

            <td>№</td>

            <td align="center" style="border-bottom: 1px solid #000;">{{ payment.number }}</td>

            <td>от</td>

            <td td align="center" style="border-bottom: 1px solid #000;">{{ payment.date }}</td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:29px;'> </p>
            </td>

            <td colspan="2">Прошу&nbsp;произвести</td>

            <td colspan="3" class='s10'></td>

            <td colspan="2" class='s11'>на сумму</td>

            <td class='s12'></td>

            <td class='s13'>, в т.ч. НДС</td>

            <td class='s14'></td>

            <td class='s12'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td class='s3'></td>

            <td></td>

            <td class='s15'></td>

            <td class='s15'></td>

            <td class='s15'></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td colspan="2" style="font-size:8pt;" align="center">(ставка и сумма)</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:41px;'> </p>
            </td>

            <td colspan="3" >1.Наименование&nbsp;получателя:</td>

            <td colspan="8"></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:40px;'> </p>
            </td>

            <td colspan="3">2.Платежные&nbsp;реквизиты:</td>

            <td colspan="8"></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:40px;'> </p>
            </td>

            <td colspan="3">3.Назначение&nbsp;платежа:</td>

            <td colspan="8"></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:22px;'> </p>
            </td>

            <td colspan="3">4.Договор&nbsp;контракт) №</td>

            <td colspan="3"></td>

            <td>от</td>

            <td></td>

            <td>на сумму</td>

            <td colspan="2" class='s12'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:14px;'> </p>
            </td>

            <td colspan="4" style="font-size:8pt;" align="center">(нужное подчеркнуть)</td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:22px;'> </p>
            </td>

            <td class='s3'></td>

            <td colspan="3" class='s26'>4.1.Спецификация №</td>

            <td></td>

            <td colspan="3" class='s27'></td>

            <td></td>

            <td></td>

            <td class='s28'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:22px;'> </p>
            </td>

            <td colspan="2">5. Счет</td>

            <td class='s29'>№</td>

            <td class='s30'></td>

            <td colspan="2" class='s30'></td>

            <td class='s31'>от</td>

            <td class='s32'></td>

            <td class='s24'>на сумму</td>

            <td colspan="2" class='s12'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:22px;'> </p>
            </td>

            <td colspan="2">6.ТТН, акт вып.работ</td>

            <td class='s29'>№</td>

            <td class='s33'></td>

            <td colspan="2" class='s34'></td>

            <td class='s26'>от</td>

            <td class='s32'></td>

            <td class='s24'>на сумму</td>

            <td colspan="2" class='s35'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:22px;'> </p>
            </td>

            <td class='s3'></td>

            <td></td>

            <td class='s29'>№</td>

            <td class='s36'></td>

            <td colspan="2" class='s36'></td>

            <td class='s26'>от</td>

            <td class='s37'></td>

            <td class='s24'>на сумму</td>

            <td colspan="2" class='s38'></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:23px;'> </p>
            </td>

            <td colspan="2">7.Дата оплаты</td>

            <td colspan="3" align="center" style="border-bottom: 1px solid #000;">{{payment.payment_date}}</td>

            <td colspan="5" class='s24'>8.{{payment.receipt_type}} получения товара (оказания услуг, работ)</td>


            <td align="center" style="border-bottom: 1px solid #000;">{{payment.receipt}}</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="2" >Приложение на</td>

            <td colspan="2" align="center" style="border-bottom: 1px solid #000;"> </td>

            <td colspan="2" class='s40'>листах.</td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:8px;'> </p>
            </td>

            <td class='s3'></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="2">Начальник</td>

            <td colspan="4" class='s7'>ВЦ</td>

            <td></td>

            <td></td>

            <td></td>

            <td colspan="2" class='s7'>Протасов С.С.</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:13px;'> </p>
            </td>

            <td class='s41'></td>

            <td></td>

            <td colspan="4" class='s42'>(наименование подразделения)</td>

            <td></td>

            <td class='s42'>(подпись)</td>

            <td></td>

            <td colspan="2" class='s42'>(Ф.И.О.)</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="4" class='s43'></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:18px;'> </p>
            </td>

            <td colspan="2">Исполнитель</td>

            <td colspan="4" align="right" style="border-bottom: 1px solid #000;">{{payment.user.first_name}}</td>

            <td></td>

            <td colspan="3">Код структурного подразделения:</td>

            <td>604</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td class='s3'></td>

            <td></td>

            <td colspan="4" style="font-size:8pt;" align="center">(подпись) (Ф.И.О.)</td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="2">Телефон:</td>

            <td class='s45'></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="2">Отметка бухгалтерии</td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="11">о задолженности на ___ ___________20__г: Д-т______________ руб. К-т _______________ руб.</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:13px;'> </p>
            </td>

            <td colspan="11" style="font-size:8pt;" align="center">(сумма) (сумма)</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:17px;'> </p>
            </td>

            <td colspan="11">Бухгалтер ______________ _______________</td>

            <td></td>
        </tr>

        <tr>
            <td>
                <p style='height:13px;'> </p>
            </td>

            <td colspan="11">(подпись) (Ф.И.О.)</td>

            <td></td>
        </tr>
    </table>